<!DOCTYPE html>
<html>
<head>
    <title>YADSN login</title>
</head>
<body>
<form action="{% url 'login:index' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}: {{ field }}
    {{ field.errors }}
    {% endfor %}
    {{ field.non_field_errors }}
<input type="submit" value="Login" />
</form>
{% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>
