<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
username: {{ user.username }}
<br>
email: {{ user.email }}
<br>
Authenticated = {{ user.is_authenticated }}
<br>
{% block stackexchange %}
    {% if user.has_se_profile %}
        SE reputation: <a href = {{ user.se_profile.link }}>{{ user.se_profile.reputation }}</a>
    {% else %}
        <a href = {% url 'website:se_connect' %}>Connect to Stackexchange</a>
    {% endif %}
{% endblock stackexchange %}
<br>
<a href = {% url 'website:logout' %}>logout</a>
</body>
</html>