<!DOCTYPE html>
<html>
<head>
    <title>YADSN</title>
</head>
<body>
<form action="{% url 'front.website:landing' %}" method="POST" onsubmit="this.codecha_language.value = codecha.language">
    {% csrf_token %}
    <script type="text/javascript" src="//codecha.org/api/challenge?k={{form.codecha_client.public_key}}"> </script>
    {% for field in form.visible_fields %}
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
    {% endfor %}
    {% if form.non_field_errors %}
    <ul class='form-errors'>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <input type="hidden" name="codecha_language">
    <input type="submit" value="subscribe">
</form>
</body>
</html>
